/* CSS Styling of the game. Generic and tag specific styling listed first */
body {
	font-family: "Franklin Gothic Heavy", Impact, "Arial Black", sans-serif;
	background-color: beige;
	color: black;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, input {
	font-family: "Franklin Gothic Heavy", Impact, "Arial Black", sans-serif;
	margin: 24px;
}
h1 {
	font-size: 4em;
	background-color: inherit;
	color: red;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
li {
	margin: 0 24px 12px 24px;
	font-size: 1.25em;
}
/*Splash Screen Styling*/
div.splash {
	position: absolute;
	top: 64px;
	left: 64px;
	width: 640px;
	border: 1px solid red;
	border-radius: 16px;
	background-color: darkgray;
	color: blue;
}

div.splash input{
	width: 216px;
	height: 48px;
	margin: 12px 24px;
	background-color: gold;
	color: black;
	font-size: 1.5em;
	font-weight: bold;
}
div[id="splashLevel"], div[id="splashEnd"]{
	background-color: darkgray;
	color: blue;
	display: none;
	top: 224px;
	left: 128px;
	width: 448px;
}
/*Game Screen Styling*/
div[id="game"]{
	display: none;
}
div[id="game"] header{
	width: 896px;
}
div[id="game"] h1{
	float: left;
	margin: 12px 0 12px 24px;
	background-color: inherit;
	color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
div[id="game"] h2{
	float: right;
	margin: 48px 64px 12px;
	color: red;
}
div[id="game"] .gameWindow{
	clear: both;
}
div[id="game"] input{
	width: 180px;
	height: 48px;
	margin: 24px;
	background-color: gold;
	color: black;
	font-size: 1.2em;
	font-weight: bold;
}
/*Footer Stying*/
footer {
	font-family: Rockwell, Cambria, "Times New Roman", serif;
	text-align: center;
	font-size: .9em;
	margin: 12px 0;
	width: 768px;
}
