body {
	font-family: "Franklin Gothic Heavy", Impact, "Arial Black", sans-serif;
	background-color: lightgrey;
}
canvas {
	background-color: ghostwhite;
	border: 1px solid red;
}
button{
	margin: 0 12px 0 0;
	height: 42px;
	font-weight: bold;
	font-size: 1.1em;
}
.buttonArray{
	margin: 12px 0;
}
div.wrapper {
	height: 400px;
}
